<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.usuario.cookiereader">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".control.Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".control.UfCadastro" />
        <activity android:name=".control.DcntCadastro" />
        <activity android:name=".control.NutrientesCadastro" />
        <activity android:name=".control.CidadeCadastro" />
        <activity android:name=".control.EmpresaCadastro" />
        <activity android:name=".control.UsuarioCadastro" />
        <activity android:name=".control.BiscoitoCadastro" />
        <activity android:name=".control.AssociarPesoDcnt" />
        <activity
            android:name=".control.Escaneamento"
            android:screenOrientation="portrait" />
        <activity android:name=".control.ListarEmpresas" />
        <activity android:name=".control.ListarEscaneamentos"></activity>
    </application>

</manifest>